<style>
    html,
    body {
        background-image: url("data:image/<%- contentType %>;base64, <%- image %>");
    }
</style>

<div id="mainDiv">
    <div id="webCV">
        <div id="nav-container">
            <div class="bg"></div>
            <div class="button" tabindex="0">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <div id="nav-content" tabindex="0">
                <ul>
                    <li class="liClassMenu"><a href="#idBemutatkozas">Bemutatkozás</a></li>
                    <li class="liClassMenu"><a href="#idAdatok">Szakmai tapasztalatok</a></li>
                    <li class="liClassMenu"><a href="#idKeszsegek">Technológiák / Eszközök</a></li>
                    <li class="liClassMenu"><a href="#idVegzettsegek">Tanulmányok</a></li>
                    <li class="liClassMenu"><a href="#idNyelv">Nyelvismeret</a></li>
                    <li class="liClassMenu"><a href="#idAbout">A weboldal fejlesztői környezete</a></li>
                    <li class="liClassMenu"><a href="#" onclick="window.print();return false;">Önéletrajz nyomtatása</a></li>
                    <li class="small"><a href="/users/logout">Logout</a></li>
                </ul>
            </div>
        </div>
        <!-- ide jön a webwes cv -->
        <div class="grid-container">
            <div class="header">
                <label id="idLabel">
                    <span id="spanVnev1">
                        <%- vnev %>
                    </span> <span id="spanKnev2">
                        <%- knev %>
                    </span>
                    <span id="idMunkakorok"><%- munkakorok %></span>
                </label>
            </div>
            <div class="left">
                <img id="leftImage" src="data:image/<%- contentType %>;base64, <%- imagePyramid1 %>">
            </div>
            <div class="main">
                <section id="mainSection">
                    <div id="idBemutatkozas" class="section overlay">
                        <h2 class="h2Class">Bemutatkozás</h2>
                        <div class="grid-container-all">
                            <div class="divRightWeb">
                                <p>
                                    <%- bemutatkozas %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="idAdatok" class="section overlay">
                        <h2 class="h2Class">Szakmai tapasztalatok</h2>
                        <% data.forEach(function(dat) { %>
                            <div class="grid-container-job">
                                <div class="divLeftWeb">
                                    <p>
                                        <%- dat.munkakor%>
                                    </p>
                                    <p>
                                        <b>
                                            <%- dat.ceg %>
                                        </b>
                                    </p>
                                    <p>
                                        <i>
                                            <%- dat.tolig%>
                                        </i>
                                    </p>
                                </div>
                                <div class="divRightWeb">
                                    <p>
                                        <%- dat.leiras%>
                                    </p>
                                </div>
                            </div>
                        <% }); %>

                        <% data1.forEach(function(dat) { %>
                            <div class="grid-container-job">
                                <div class="divLeftWeb">
                                    <p>
                                        <%- dat.munkakor%>
                                    </p>
                                    <p>
                                        <b>
                                            <%- dat.ceg %>
                                        </b>
                                    </p>
                                    <p>
                                        <i>
                                            <%- dat.tolig%>
                                        </i>
                                    </p>
                                </div>
                                <div class="divRightWeb">
                                    <p>
                                        <%- dat.leiras%>
                                    </p>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                    <div id="idKeszsegek" class="section overlay">
                        <h2 class="h2Class">Technológiák - Eszközök</h2>
                        <div class="grid-container-all">
                            <div class="divRightWeb">
                                <div>
                                    <ul class="ulClass">
                                        <li class="liClass">
                                            <%- s1 %>
                                        </li>
                                        <li class="liClass">
                                            <%- s2 %>
                                        </li>
                                        <li class="liClass">
                                            <%- s3 %>
                                        </li>
                                        <li class="liClass">
                                            <%- s4 %>
                                        </li>
                                        <li class="liClass">
                                            <%- s5 %>
                                        </li>
                                        <li class="liClass">
                                            <%- s6 %>
                                        </li>
                                        <li class="liClass">
                                            <%- s7 %>
                                        </li>
                                        <li class="liClass">
                                            <%- s8 %>
                                        </li>
                                        <li class="liClass">
                                            <%- s9 %>
                                        </li>
                                        <li class="liClass">
                                            <%- s10 %>
                                        </li>
                                        <li class="liClass">
                                            <%- s11 %>
                                        </li>
                                        <li class="liClass">
                                            <%- s12 %>
                                        </li>
                                        <li class="liClass">
                                            <%- s13 %>
                                        </li>
                                        <li class="liClass">
                                            <%- s14 %>
                                        </li>
                                        <li class="liClass">
                                            <%- s15 %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="idVegzettsegek" class="section overlay">
                        <h2 class="h2Class">Tanulmányok</h2>
                        <div class="grid-container-all">
                            <div class="divRightWeb">
                                <ul class="ulClass">
                                    <li class="liClass">
                                        <%- e1 %>
                                    </li>
                                    <li class="liClass">
                                        <%- e2 %>
                                    </li>
                                    <li class="liClass">
                                        <%- e3 %>
                                    </li>
                                    <li class="liClass">
                                        <%- e4 %>
                                    </li>
                                    <li class="liClass">
                                        <%- e5 %>
                                    </li>
                                    <li class="liClass">
                                        <%- e6 %>
                                    </li>
                                    <li class="liClass">
                                        <%- e7 %>
                                    </li>
                                </ul>
                            </div>
                        </div>                        
                    </div>
                    <div id="idNyelv" class="section overlay">
                        <h2 class="h2Class">Nyelvismeret</h2>
                        <div class="grid-container-all">
                            <div class="divRightWeb">
                                <div>
                                    <ul class="ulClass">
                                        <li class="liClass">
                                            <%- l1 %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div id="idAbout" class="section overlay">
                        <h2 class="h2Class">Fejlesztői környezet</h2>
                        <div class="grid-container-all">
                            <div class="divRightWeb">
                                <div>
                                    <p>
                                        <%- webPageAbout %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="footer">
                <div>
                    <p><i class="far fa-user"></i>
                        <label class="divContact">
                            <span>
                                <%- vnev %>
                            </span> <span>
                                <%- knev %>
                            </span>
                        </label>
                    </p>
                    <p><i class="fas fa-map-marked-alt"></i>
                        <label class="divContact">
                            <%- irsz %>, <%- varos %>, <%- utca %>
                                        <%- hazszam %>
                        </label>
                    </p>
                    <p class="contact"><i class="far fa-star"></i>
                        <label class="divContact">
                            <%- szulido %>
                        </label>
                    </p>
                    <p> <i class="fas fa-phone-alt"></i>
                        <label class="divContact">
                            <%- tel %>
                        </label>
                    </p>
                    <p><i class="fas fa-at"></i>
                        <label class="divContact">
                            <a href="mailto:<%- email %>">
                                <%- email %>
                            </a>
                        </label>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="printCV">
        <div class="flex-container">
            <!-- ide jön a nyomtatott cv -->
            <div class="center">
                <div id="idDiv1">
                    <p id="cv1">Curriculum vitae</p>
                    <div class="page-header">
                        <div class="page-header-left">
                            <div class="flexDiv1">
                                <p class="pNev"><span id="spanVnev1">
                                        <%- vnev %>
                                    </span> <span id="spanKnev2">
                                        <%- knev %>
                                    </span></p>
                            </div>
                            <div class="flexDiv3">
                                <p class="munkakorok">
                                    <%- munkakorok %>
                                </p>
                            </div>
                        </div>
                        <div id="flexDiv4">
                        </div>
                        <div class="flexDiv2">
                            <p class="contact"><i class="fas fa-map-marked-alt"></i>
                                <%- irsz %>, <%- varos %>, <%- utca %>
                                            <%- hazszam %>
                            </p>
                            <p class="contact">
                                <i class="fas fa-phone-alt"></i>
                                <%- tel %>
                            </p>
                            <p class="contact"><i class="fas fa-at"></i>
                                <%- email %>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="page-content">

                        <div class="container-fluid">
                            <% data.forEach(function(dat, index) { %>
                                <div class="row">
                                    <div class="col-4 divLeft">
                                        <p>
                                            <%- dat.munkakor%>
                                        </p>
                                        <p>
                                            <b>
                                                <%- dat.ceg %>
                                            </b>
                                        </p>
                                        <p>
                                            <%- dat.tolig%>
                                        </p>
                                    </div>
                                    <div class="col-8 divRight">
                                        <p>
                                            <%- dat.leiras%>
                                        </p>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                        <div id="pageFooter"></div>
                    </div>
                </div>

                <p style="page-break-after:always;" />                
                <div id="idDiv2">
                    <p id="cv2">Curriculum vitae</p>
                    <div class="page-header">
                        <div class="page-header-left">
                            <div class="flexDiv1">
                                <p class="pNev"><span id="spanVnev1">
                                        <%- vnev %>
                                    </span> <span id="spanKnev2">
                                        <%- knev %>
                                    </span></p>
                            </div>
                            <div class="flexDiv3">
                                <p class="munkakorok">
                                    <%- munkakorok %>
                                </p>
                            </div>
                        </div>
                        <div id="flexDiv4">
                        </div>
                        <div class="flexDiv2">
                            <p class="contact"><i class="fas fa-map-marked-alt"></i>
                                <%- irsz %>, <%- varos %>, <%- utca %>
                                            <%- hazszam %>
                            </p>
                            <p class="contact">
                                <i class="fas fa-phone-alt"></i>
                                <%- tel %>
                            </p>
                            <p class="contact"><i class="fas fa-at"></i>
                                <%- email %>
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="page-content">
                        <div class="container-fluid">
                            <!-- második oldal -->
                            <% data1.forEach(function(dat) { %>
                                <div class="row">
                                    <div class="col-4 divLeft">
                                        <p>
                                            <%- dat.munkakor%>
                                        </p>
                                        <p>
                                            <b>
                                                <%- dat.ceg %>
                                            </b>
                                        </p>
                                        <p>
                                            <%- dat.tolig%>
                                        </p>
                                    </div>
                                    <div class="col-8 divRight">
                                        <p>
                                            <%- dat.leiras%>
                                        </p>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                        <div id="pageFooter"></div>
                    </div>
                </div>
<!-- ------------------------- -->
                <p style="page-break-after:always;" />
                <div id="idDiv3">
                    <p id="cv3">Curriculum vitae</p>
                    <div class="page-header">
                        <div class="page-header-left">
                            <div class="flexDiv1">
                                <p class="pNev"><span id="spanVnev2">
                                        <%- vnev %>
                                    </span> <span id="spanKnev2">
                                        <%- knev %>
                                    </span></p>
                            </div>
                            <div class="flexDiv3">
                                <p class="munkakorok">
                                    <%- munkakorok %>
                                </p>
                            </div>
                        </div>
                        <div class="flexDiv4">
                        </div>
                        <div class="flexDiv2">
                            <p class="contact"><i class="fas fa-map-marked-alt"></i>
                                <%- irsz %>, <%- varos %>, <%- utca %>
                                            <%- hazszam %>
                            </p>
                            <p class="contact">
                                <i class="fas fa-phone-alt"></i>
                                <%- tel %>
                            </p>
                            <p class="contact"><i class="fas fa-at"></i>
                                <%- email %>
                            </p>
                        </div>
                    </div>
                </div>
<!-- ------------------------- -->                
                <div>
                    <div id="page-content">
                        <div id="divSkills" class="container-fluid">
                            <div class="row">
                                <div class="col-4 divLeft">
                                    <p>Technológiák / Eszközök</p>
                                </div>
                                <div class="col-8 divRight">
                                    <ul>
                                        <li>
                                            <%- s1 %>
                                        </li>
                                        <li>
                                            <%- s2 %>
                                        </li>
                                        <li>
                                            <%- s3 %>
                                        </li>
                                        <li>
                                            <%- s4 %>
                                        </li>
                                        <li>
                                            <%- s5 %>
                                        </li>
                                        <li>
                                            <%- s6 %>
                                        </li>
                                        <li>
                                            <%- s7 %>
                                        </li>
                                        <li>
                                            <%- s8 %>
                                        </li>
                                        <li>
                                            <%- s9 %>
                                        </li>
                                        <li>
                                            <%- s10 %>
                                        </li>
                                        <li>
                                            <%- s11 %>
                                        </li>
                                        <li>
                                            <%- s12 %>
                                        </li>
                                        <li>
                                            <%- s13 %>
                                        </li>
                                        <li>
                                            <%- s14 %>
                                        </li>
                                        <li>
                                            <%- s15 %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="divEducations" class="container-fluid">
                            <div class="row">
                                <div class="col-4 divLeft">
                                    <p>Iskolák / Végzettség</p>
                                </div>
                                <div class="col-8 divRight">
                                    <ul>
                                        <li>
                                            <%- e1 %>
                                        </li>
                                        <li>
                                            <%- e2 %>
                                        </li>
                                        <li>
                                            <%- e3 %>
                                        </li>
                                        <li>
                                            <%- e4 %>
                                        </li>
                                        <li>
                                            <%- e5 %>
                                        </li>
                                        <li>
                                            <%- e6 %>
                                        </li>
                                        <li>
                                            <%- e7 %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="divLanguages" class="container-fluid">
                            <div class="row">
                                <div class="col-4 divLeft">
                                    <p>Nyelvismeret</p>
                                </div>
                                <div class="col-8 divRight">
                                    <ul>
                                        <li>
                                            <%- l1 %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>