<style>
    html,
    body {
        background-image: url("data:image/<%= contentType %>;base64, <%= image %>");
    }
</style>

<div class="container row mt-5 position-fixed">
    <!-- <div class="col-md-6 m-auto"> -->
    <div class="col-md-12 m-auto">
        <!-- <div class="card card-body"> -->
        <div class="card-body">
            <h1 class="text-center mb-3 h1Style">
                <i class="fas fa-user-plus"></i> Register
            </h1>
            <%- include('./partials/messages') %>
            <form action="/users/register" method="POST">
                <div class="form-group">
                    <label for="name" class="labelStyle">Name</label>
                    <input type="name" id="name" name="name" class="form-control inputStyle" placeholder="Enter Name"
                        value="<%= typeof name != 'undefined' ? name : '' %>" />
                </div>
                <div class="form-group">
                    <label for="email" class="labelStyle">Email</label>
                    <input type="email" id="email" name="email" class="form-control inputStyle" placeholder="Enter Email"
                        value="<%= typeof email != 'undefined' ? email : '' %>" />
                </div>
                <div class="form-group">
                    <label for="password" class="labelStyle">Password</label>
                    <input type="password" id="password" name="password" class="form-control inputStyle"
                        placeholder="Create Password" value="<%= typeof password != 'undefined' ? password : '' %>" />
                </div>
                <div class="form-group ">
                    <label for="password2" class="labelStyle">Confirm Password</label>
                    <input type="password" id="password2" name="password2" class="form-control mb-2 inputStyle"
                        placeholder="Confirm Password"
                        value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                </div>
                <button type="submit" class="btn col-12 btnStyle">
                    Register
                </button>
            </form>
            <p class="lead mt-4 pStyle">Have An Account? <a class="aStyle" href="/users/login">Login</a></p>
        </div>
    </div>
</div>
